<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oceanican.app" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.oceanican.android.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.oceanican.android.adpotion.DogsDetailActivity"
            android:theme="@style/TranspartAB"/>
        <activity android:name="com.oceanican.android.adpotion.OpenImageDogActivity"/>
        <activity android:name="com.oceanican.android.facebook.FacebookIDetailActivity"/>
    </application>

</manifest>
